<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Exitoso</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h1 class="card-title">Registro de Usuario</h1>
                </div>
                <div class="card-body">
                    <p class="card-text">Los datos han sido guardados con éxito.</p>
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Resumen de la Información Guardada:</h4>
                        <p><strong>Nombres: </strong> <%= userData.name %></p>
                        <p><strong>Apellidos: </strong> <%= userData.last_name %></p>
                        <p><strong>Tipo de Identificación: </strong> <%= userData.document_type %></p>
                        <p><strong>Número de Identificación: </strong> <%= userData.document_number %></p>
                        <p><strong>Correo Electrónico: </strong> <%= userData.email %></p>
                        <!-- Mostrar imagen si existe una ruta -->
                        <% if (userData.imagePath) { %>
                            <img src="/show_user_photo/<%= userData.imagePath %>" alt="Foto de Usuario" class="img-fluid">
                        <% } %>
                        <!-- Aquí puedes añadir más información si es necesario -->
                    </div>
                    <a href="/panel" class="btn btn-primary">Volver al inicio</a>
                </div>
            </div>
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>
